#define SECRET_apiKey ""  // openweather.org api key
#define SECRET_keyIndex 0
#define SECRET_latitude 50.466207 // your lat
#define SECRET_longitude -77.406822 // your long
#define SECRET_pass "" // your wireless password
#define SECRET_ssid "" // your wireless ssid
